.wrapper{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font-size: 22px;
}

.sub-wrapper{
    display: flex;
    flex-direction: column;
}

.change{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.change button{
    border: none;
    padding: 5px;
    background-color: #1495ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.change-password {
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
}

.change-password button {
    width: 100%;
    background-color: #1495ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
}
