<div class="wrapper" *ngIf="articleList">
    <form class="form-search" #formSearch="ngForm" (ngSubmit)="submitSearch(formSearch)">
        <input type="text" placeholder="Поиск по теме статьи"
            name="titleSearchTheme" required
         [(ngModel)]="formSearchTheme.titleSearchTheme" #titleTheme="ngModel">
        <button type="submit" [disabled]="formSearch.invalid">Поиск</button>
    </form>
    <div class="wrapper-article" *ngFor="let item of articleList">
       <div class="article-title">Title:{{item.title}}</div>
        <div class="article-theme">Theme:{{item.theme}}</div> 
        <div class="article-avtor">Avtor:{{item.avtor}}</div>
        <div class="article-date">Date:{{item.date | date:'medium'}}
            <a class="article-link" [routerLink]="['item', item._id]">Читать</a>
        </div>
    </div>
</div>

<div *ngIf="!articleList && !error">
    <app-loader></app-loader>
</div>
<div class="not-articles" *ngIf="error">
    <div>Сатей не обнаружено :(</div>
</div>