<div class="wrapper" *ngIf="articleList && !error && !loadingNextArticles">
    <form class="form-search" #formSearch="ngForm" (ngSubmit)="submitSearch(formSearch)">
        <input type="text" placeholder="Поиск по теме статьи"
            name="titleSearchTheme" required
         [(ngModel)]="formSearchTheme.titleSearchTheme" #titleTheme="ngModel">
        <button type="submit" [disabled]="formSearch.invalid">Поиск</button>
    </form>
    <div class="wrapper-article" *ngFor="let item of articleList">
        <a class="link-article" [routerLink]="['item', item._id]">
            <div class="article-title">Название:{{item.title}}</div>
            <div class="article-theme">Тема:{{item.theme}}</div> 
            <div class="article-avtor">Автор:{{item.avtor}}</div>
            <div class="article-date">Дата добавления:{{item.date | date:'medium'}}</div>
        </a>
    </div>
</div>
<div class="links-list" *ngIf="!error && !loadingNextArticles && articleList">
    <a *ngIf="articleUrl > 1" (click)="loader()" [routerLink]="['/article', '1']" class="prev-list">
        Предыдущая страница
    </a>
    <a *ngIf="countArticle > 5" (click)="loader()" [routerLink]='["/article", "2"]' class="next-list">
        Следующая страница
    </a>
</div>
<div *ngIf="!articleList && !error || loadingNextArticles">
    <app-loader></app-loader>
</div>
<div class="not-articles" *ngIf="error">
    <div>Сатей не обнаружено :(</div>
</div>