.wrapper{
    margin: 0 auto;
    max-width: 1000px;

    .wrapper-article{
        background-color: #fafafa;
        border-radius:5px;
        padding: 10px;
        margin: 10px;
        .article-title{
           font-size: 28px;
           font-weight: 700;
           margin: 10px; 
        }
        .article-theme{
            font-size: 20px;
            font-weight: 700;
            margin: 10px; 
        }
        .article-avtor{
            font-size: 20px;
            font-weight: 700;
            margin: 10px; 
        }

        .article-date{
            font-weight: 700;
            margin-left: 10px;
            margin-top: 30px;
        }

        .article-link{
            margin-left: auto;
            float: right;
            clear: both;
        }
    }
}

.not-articles{
    margin-top: 300px;
    text-align: center;
    font-size: 22px;
}

.form-search {
    display: flex;
    justify-content: space-between;
    max-width: 470px;
    margin: 20px auto;
}

.form-search input {
    width: 350px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
}

.form-search button {
    background-color: #3282fa;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.links-list{
    max-width: 700px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    a{
        color: #000;
        text-decoration: none;
        background-color: #ebebeb;
        text-align: center;
        border-radius: 15px;
        padding: 10px;
    }
}
