.wrapper-not-found{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 45px;
}

.smile{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-size: 45px;
}

.smile p {
    text-align: center;
}

.left-eye{
    margin-right: 200px;
}
