img{
    max-width: 100%;
    max-height: 100%;
}


.img-avatar{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 10px;
}
.img-noavatar{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 10px;
    background-color: #ccc;
}

.wrapper-nav{
    display: flex;
    justify-content: center;
    background-color: #3282fa;
    height: 50px;
    nav{
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .active{
            text-decoration: underline;
        }
        a{
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            padding: 10px;
            transition: .3s;
        }
        a:hover{
            transition: .3s;
            background-color: #fae332;
            border-radius: 5px;
        }
    }
}


.btn{
    transition: .3s;
    position: absolute;
    top: 11px;
    right: 10px;
    border: none;
    padding: 5px;
    background-color: #1495ff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn:hover{
    transition: .3s;
    background-color: #fff;
    color: #000;
}

.account{
    position: absolute;
    top: 11px;
    left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #000;
    background-image: url('../assets/img/icon.jpg');
    background-size: cover;
    cursor: pointer;
}